<%- include('./partials/top');  -%>
    <div class="container pt-2">
        <h1><%= productName %></h1>
        <p>Welcome to <%= page %></p>
    </div>
    <button class="btn btn-success"></button>

    <%- include('./partials/bottom'); -%>