
    <%- include('./partials/top');  -%>
    

    <!-- <a href="products">Products</a> -->

    <div class="container">
        <h1><%= message %></h1>
        <p>Welcome to <%= title %></p>
        <h3>Creating the Express App, You will learn alot.</h3>
        <button class="btn btn-info">click me</button>
    </div>

    <%- include('./partials/bottom'); -%>

